/* FONTS */

*{
    font-family: 'Roboto-Regular';
}


/* All */

body{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 80% 10%;
}


/* Body */
#header{
    grid-row:1;
}
#main{
    grid-row:2;
}
#footer{
    grid-row:3;
}

#main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    min-height: calc(100vh - 205px);
}
.content{
    grid-column: 2;
}
.center-text{
    margin-top: 5em;
    font-size: 1.3em;
    text-align: center;
}

/* Footer */

.title{
    text-align: center;
}

/* Pokemon API */
.pokemonImage{
    margin-left: auto;
    margin-right: auto;
}
.pokemonList{
    list-style-type: none;
}
.PokeAPI{
    text-align: center
}
.center{
    text-align: center;
}
.data{
    float: right;
}
/* HOME */
.HomeToNews{
 text-align: center;
 text-decoration: none;
 font-size: 30px;
 align-content: center;
}


/* SIMPLEMMO */
.error{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(255, 144, 144);
  color: rgb(255, 45, 45);
  text-align: center;
}


.cards{
  display: flex;
  align-items: baseline;
  justify-content:space-evenly;
}

.card{
  border-radius: .4em;
  width: 25%;
  height: auto;

}
.card-head{
  height: 2em;
  padding-top: 10px;
  text-align: center;
  font-size: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}
.card-content{
  background-color: rgb(240, 240, 240);
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
}
.card-item{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.last-card-item{
  display: flex;
  justify-content: space-between;
}

/* stats card */
.s-card-head-stats{
  border-bottom: 3px solid #80DEEA;
  background-color: #E0F7FA;
}
.s-card-stats{
  border: 3px solid #80DEEA;
}

/* skills card */
.s-card-head-skills{
  border-bottom: 3px solid #FFE082;
  background-color: #FFF8E1;
}
.s-card-skills{
  border: 3px solid #FFE082;
}



/* TAG */
.tag{
  border-radius: .4em;
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.tag-head{
  height: 2em;
  padding-top: 10px;
  text-align: center;
  font-size: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tag-content{
  background-color: rgb(240, 240, 240);
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
}
.tag-item{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.s-tag-head-bosses{
  border-bottom: 3px solid #EF9A9A;
  background-color: #FFEBEE;
}
.s-tag-bosses{
  border: 3px solid #EF9A9A;
}
.Low{
  color: green;
}
.Medium{
  color: yellow;
}
.High{
  color: red;
}

.bosses{
  margin-top: 30px;
  margin-bottom: 50px;
  border: 3px solid #EF9A9A;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.table{
  background-color: rgb(240, 240, 240);
  border-collapse: collapse;
  width: 100%;
}
.table td, .table th{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.table th{
  padding-top: 12px;
  padding-bottom: 12px;
  color: #EF9A9A;
}

.bosses-head{
  background-color: #FFEBEE;
  border-bottom: 3px solid #EF9A9A;
  height: 2em;
  padding-top: 10px;
  text-align: center;
  font-size: 25px;
}

#loadingbar{
  text-align: center;
}
#bar{
  width: 10%;
  height: 30px;
  background-color: #04AA6D;
  text-align: center;
  line-height: 30px;
  color: white;
}

@media (max-width: 900px) {
  .cards{
    display: block;
    justify-content: center;
    margin-left: 6em;
  }
  .card{
    align-content: center;
    width: 200px;
    margin-bottom: 20px;
  }
}


/* FAKE NEWS */
.news-content{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.news-item{
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}
.news-item-right p{
  margin-top: 0;
  margin-right: 20px;
}
.news-item-left p{
  margin-top: 0;
  margin-left: 20px;
}
.news-item-left img{
  width: 300px;
  height: auto;
}
.news-header{
  text-align: center;
  margin-bottom: 90px;
}
.news-header img{
  width: 500px;
  height: auto;
}
